################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c#projekt/FileContentIndex/7ec1a8c4-099f-4c37-9d99-063221236157.vsidx
/.vs/c#projekt/FileContentIndex
/.vs
/konyvtarekezelo/.vs/konyvtarekezelo/FileContentIndex/041546ef-c634-4c1e-9dd7-7b901f64d4d5.vsidx
/konyvtarekezelo/.vs/konyvtarekezelo/FileContentIndex/0c96f5d3-42f3-46da-80a8-d48f167a2d8c.vsidx
/konyvtarekezelo/.vs/konyvtarekezelo/FileContentIndex/3afe387a-8d20-4f1d-8f42-67d8234e9b21.vsidx
/konyvtarekezelo/.vs/konyvtarekezelo/FileContentIndex/5958fd62-45a7-4cf3-b21f-180c1347fd84.vsidx
/konyvtarekezelo/.vs/konyvtarekezelo/FileContentIndex/9c5b684d-d2db-4571-87a8-f7a2ad8d1e22.vsidx
