################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/c#projekt/FileContentIndex/7ec1a8c4-099f-4c37-9d99-063221236157.vsidx
/.vs/c#projekt/FileContentIndex
/.vs
/konyvtarekezelo/.vs/konyvtarekezelo/FileContentIndex/15d610d0-aebe-46f9-aa03-c5388a172cfc.vsidx
/konyvtarekezelo/.vs/konyvtarekezelo/FileContentIndex/dd413f20-4030-4003-8ea4-ec36ce54b003.vsidx
/konyvtarekezelo/.vs/konyvtarekezelo/FileContentIndex/5958fd62-45a7-4cf3-b21f-180c1347fd84.vsidx
